@import 'colors';
// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:         (4 / 3) !default;
$line-height-sm:         1.5 !default;

$font-size-huge:          1.75rem !default;
$font-size-tiny:          0.75rem !default;

$border-radius:          .25rem !default;
$border-radius-huge:     .4rem !default;
$border-radius-lg:       .3rem !default;
$border-radius-sm:       .2rem !default;
$border-radius-tiny:     .2rem !default;

$component-active-color: #fff !default;
$component-active-bg:    $brand-primary !default;

$caret-width:            .3em !default;
$caret-width-lg:         $caret-width !default;

// BUTTONS
$btn-link-disabled-color:        $gray-light !default;

$btn-padding-x-tiny:             .25rem !default;
$btn-padding-y-tiny:             .15rem !default;

$btn-padding-x-sm:               .5rem !default;
$btn-padding-y-sm:               .25rem !default;

$btn-padding-x-lg:               1.5rem !default;
$btn-padding-y-lg:               .75rem !default;

$btn-padding-x-huge:             2.5rem !default;
$btn-padding-y-huge:             1.0rem !default;


$btn-block-spacing-y:            .5rem !default;
$btn-toolbar-margin:             .5rem !default;

// Allows for customizing button radius
// independently from global border radius
$btn-border-radius:              $border-radius !default;
$btn-border-radius-huge:         $border-radius-huge !default;
$btn-border-radius-lg:           $border-radius-lg !default;
$btn-border-radius-sm:           $border-radius-sm !default;
$btn-border-radius-tiny:         $border-radius-tiny !default;
