@import 'ui-button';
// remove below to see that buttons are still styled without
// the full bootstrap library
@import 'ui-button/bootstrap/bootstrap-flex';

.ui-markdown {
  margin: 15px 0;
}

.row {
  padding: 5px 0;
  flex-wrap: nowrap;
}

.flash-messages {
  position: fixed;
  top: 50px;
  left: 25%;
  width: 50%;
  text-align: center;
  z-index: 100;
}

.tooltip.tooltip-danger {
  background-color: $brand-danger;
}
