<h3><code>ui-checkbox-button</code></h3>

<h3>Checkbox Button</h3>
<desc>
  The checkbox button is a button which has a "potential value" and a toggle which either activates it's state or not. It can live independantly as its own component but more typically makes up a choice as part of a multiple choice group.
  <note>
    <em>Note:</em>
    The <code>ui-toggle-button</code> and <code>ui-checkbox-button</code> share some characteristics but a toggle button does <em>not</em> have as strong an affiliation to a group.
  </note>
</desc>

