<h3>Components</h3>
<div class="row">
  <p class="descriptive col-xs-12">
    The primary component is the self-named <code>ui-button</code> but there are
    variations and grouping components also knowing about. Choose one of the following
    for more details:
  </p>
</div>

<desc>
  <div class="row">
    <div class="col-xs-6">
      <heading>Containers</heading>
      <ul class="components">
        <li><code>{{#link-to 'buttons-demo'}}ui-buttons{{/link-to}}</code></li>
      </ul>
    </div>
    <div class="col-xs-6">
      <heading>Elements</heading>
      <ul class="components">
        <li><code>{{#link-to 'button-demo'}}ui-button{{/link-to}}</code></li>
        <li><code>{{#link-to 'toggle-button-demo'}}ui-toggle-button{{/link-to}}</code></li>
        <li><code>{{#link-to 'radio-button-demo'}}ui-radio-button{{/link-to}}</code></li>
        <li><code>{{#link-to 'checkbox-button-demo'}}ui-checkbox-button{{/link-to}}</code></li>
      </ul>
    </div>
  </div>
</desc>