<h3>Components</h3>
<div class="row">
  <p class="descriptive col-xs-12">
    The primary component is the self-named <code>ui-button</code> but there are
    variations and grouping components also knowing about. Choose one of the following
    for more details:
  </p>
</div>

<desc>
  <div class="row">
    <div class="col-xs-6">
      <heading>Containers</heading>
      <ul class="components">
        {{#link-to 'buttons-demo'}}<li><code>ui-buttons</code></li>{{/link-to}}
      </ul>
    </div>
    <div class="col-xs-6">
      <heading>Elements</heading>
      <ul class="components">
        {{#link-to 'button-demo'}}<li><code>ui-button</code></li>{{/link-to}}
        <li>{{#link-to 'toggle-button-demo'}}<code>ui-toggle-button</code>{{/link-to}}</li>
        {{#link-to 'radio-button-demo'}}<li><code>ui-radio-button</code></li>{{/link-to}}
        {{#link-to 'checkbox-button-demo'}}<li><code>ui-checkbox-button</code></li>{{/link-to}}
      </ul>
    </div>
  </div>
</desc>