<h3><code>ui-radio-button</code></h3>

<h3>Radio Button</h3>
<desc>
  The radio button is a button which resides as a member of a group where only one button can be active at any  given time. Because of it's nature it really doesn't make sense to show it in isolation so go to the
  <code>ui-buttons</code> section for a demo of it in use.
</desc>